<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <%- include('../partials/header.ejs')  %>
</header>


<body>
    <%- body %>
</body>
<footer>
<div class="footer">
    <hr>
    Website design by Paige James for COMP 229
</div>
</footer>
</html>

<!--
    style = "background-image: url('images/background.png'); font-family: Garamond, serif;"
-->