<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<header>
    <div class = "banner">
        <table width="auto" height="auto" >
            <thead> 
              <tr>
                <td style="text-align: left; border-right: 1px solid black; width: 180px"colspan="10">
                    <img src="images/logo.PNG" width="130px" height="auto" alt="" >
                   
                <td style="text-align: left; width: 900px">   

                    <span style="font-size: 70px;">Paige James</span> <span style="font-size: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         Software Engineering Student</span>
                </td colspan=10>

              </tr>
            </thead>
            </table>
    </div>
    <div class="banner2">
    </div>
    <div class="menu">

        <table width="auto" height="auto" >
            <thead> 
              <tr>
                <td style="text-align: left; border-right: 1px solid black; width: 70px">
                    <a href="index.ejs" >home</a> 
                </td>
                <td style="text-align: left; border-right: 1px solid black; width: 70px">
                    <a href="about.ejs" >about me</a>
                </td>
                <td style="text-align: left; border-right: 1px solid black; width: 70px">
                    <a href="projects.html" >projects</a>
                </td>
                <td style="text-align: left; border-right: 1px solid black; width: 70px">
                    <a href="services.html" >services</a>
                </td>
                <td>
                    <a href="contact.html" >contact</a>
                </td>
              </tr>
            </thead>
            </table>
    </div>
   
</header>

<body style = "background-image: url('images/background.png'); font-family: Garamond, serif;">
    <%- body %>
</body>
<footer>
<div class="footer">
    <hr>
    Website design by Paige James for COMP 229
</div>
</footer>
</html>