<div class="centeredbody">
    <img src="images/profile.jpg" alt="Profile picture" style="width:200px; float:right">
    <h1>About Paige James</h1>
    <p>
      Greetings! My name is Paige and I am a current software engineering student at Centennial College.
      I am excited to share my past and upcoming projects with you. I am passionate about accessible technology and
      space exploration.
      In my free time I love to read, paint, hike and hang out with my two cats.
      I currently reside in Thunder Bay, however I am open to remote work.
    </p>
    <h3>Education</h3>
    <p>
    <ul>
      <li>Bachelor of Science in Physics from Queen's University, Class of 2021</a></li>
      <li>Advance Diploma in Software Engineering from Centennial College, expected graducation 2024</a>
    </ul> </span></td>
    </p>
    <h3>Resume</h3>
    <p>
      Please click the following link to view a pdf version of my current resume.
      <a href="documents/Resume.pdf">
        <h4 style="text-align: center;">Resume</h4>
      </a>
      If you have questions or wish to contact me, please use the <a href="/contact">contact form</a> on this
      website.
    </p>
    <br><br>
    <br><br>

  </div>