<div class="centeredbody">
<div class="centeredform">

    <legend><strong>Contact Paige</strong></legend>
    <hr>
    <form action="/home" method="post">
        <p>
            <input type="text" name="Name" id="Name" placeholder="Name*">
        </p>
        <p>
            <input type="text" name="Email" id="Email" placeholder="Email*">
        </p>
        <p>
            <input type="text" name="Phone" id="Phone" placeholder="Phone">
        </p>
        <p>
            <label for="Message">Message</label> <br>
            <textarea name="Message" id="Message" cols="80" rows="10" placeholder="Type message here"></textarea>
        </p>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
        
        

    </form>
</div>
<br><br>
<br><br>
</div>

<div class="sidebox">
    Contact Details
    <hr>
    <b>Paige James</b>
    <p>
        <a href="tel:+1 226 378 3712">+1 226 378 3712</a>
    </p>
    <p>
        <a href="mailto: paigemjames98@gmail.com">paigemjames98@gmail.com</a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/paige-james-57753b157">LinkedIn</a>
    </p>
    <p>
        <a href="https://github.com/paigemjames">GitHub</a>
    </p>
    

   
</div>