<div class="centeredbody">
    <h1>Welcome!</h1>
    <h2>Welcome to my profile website</h2>
    <p>
        For more infomration on me, my project and services, please visit the following pages:
        <ul>
            <li>For more personal infomration about me visit <a href="about.html" >about me</a></li>
            <li>For more information on my previous projects, please visit <a href="projects.html" >my projects</a>
            <li>For more information about my services offered, please visit <a href="services.html" >my services</a></li>
        </ul> </span></td> 
    </p>
    <h2>Mission Statement</h2>
    <p>
        I am a passionate software engineer and physicist dedicated to pushing the boundaries of technology and science. Through this platform, I aim to share my journey, insights, and contributions in both fields, fostering a deeper understanding of the intricate relationship between software engineering and the physical world. Join me as I explore the endless possibilities at the intersection of code and the cosmos.
    </p>

</div>