<div class="centeredbody">
    <h2>Projects</h2>
    <h3>Past projects</h3>
    <table width="auto" height="auto">
        <thead>
            <tr>
                <td>
                    <img src="images/telescope.png" width="100px" height="auto" alt="">
                </td>
                <td>
                    <h4>Redshift analysis of distance celestial bodies | 2019</h4>
                    <p>In this individual research paper I used remote access of multiple telescopes in Australia
                        and Chile to observe a series of astronomial bodies, particularly giants and supergiants
                        predicted to exist outside of the main sequence.
                        Upon observing multiple stars over several sessions and exterpolating their data, I found
                        redshift values which corresponded to the current thoerized speed of the expansion of the
                        universe.
                        This project was funded by Queen's University Department of Physics, Engineering Physics and
                        Astronomy.
                    </p>
                </td>
            </tr>
        </thead>
    </table>
    <h3>Current Projects</h3>
    <table width="auto" height="auto">
        <thead>
            <tr>
                <td>
                    <img src="images/zorya.png" width="100px" height="auto" alt="">
                </td>
                <td>
                    <h4>Zorya Ukrainian Dance Association Website Design | 2023-2024</h4>
                    <p>As a senior member of Zorya Ukrainian Dance in Thunder Bay, Ontario, I have chosen to
                        redesign our website.
                        This website redesign will include updated and modern graphics, a welcoming user interface,
                        image galleries, video links, registration forms and information about the studio.
                        For this project I am using HTML, CSS and JavaScript.
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="images/paint.png" width="100px" height="auto" alt="">
                </td>
                <td>
                    <h4>The Hive Ceramics Tracking System | 2023-2024</h4>
                    <p>After being an avid customer of The Hive in Thunder Bay, Ontario, I decided to remodel their
                        project tracking system.
                        As a 'paint your own potter' studio, The Hive provides cermaics to customers to paint and
                        then fires each piece in their in house kiln.
                        Previously, they did not have a way to let customers know that projects were ready to be
                        picked up, other than calling each individual customer which can be very time consuming.
                        The software that I am developing will provide customers with a tracking number for their
                        project. As their creations go through the firing process, employees will enter the tracking
                        numbers and customers will be updated on the current status.
                        An SMS message will be sent to customers when their project is ready to be picked up.
                        This project uses C# and Oracle SQL.
                    </p>
                </td>

            </tr>
        </thead>
    </table>
    <a href="projects.html">Top of Page</a>
    <br>
    <br>
    <br>

</div>