<div class="centeredbody">
    <h2>Services</h2>
    I happy to provide several services including website design, data analysis and simple software design.<br>
    I am currently proficient in the following coding languages and softwares: <br><br>
    &emsp;<img src="images/python.png" width="20px" height="auto" alt="">  Python (preffered)<br><br>
    &emsp;<img src="images/html.png" width="20px" height="auto" alt="">  HTML, CSS and JavaScript<br><br>
    &emsp;<img src="images/c.png" width="20px" height="auto" alt="">  C#<br><br>
    &emsp;<img src="images/java.png" width="20px" height="auto" alt="">  Java<br><br>
    &emsp;<img src="images/sql.png" width="20px" height="auto" alt="">  Oracle SQL<br><br>
    &emsp;<img src="images/maple.png" width="20px" height="auto" alt="">  Maple and Matlab<br><br>
    &emsp;<img src="images/OS.png" width="20px" height="auto" alt="">  Linux, iOS and Windows based operating systems<br><br>
    I am also able to provide SRS documentation for personal and company projects.
    <hr>

</div>